cluster.name: {{elasticsearch_cluster_name}}
node.name: {{ansible_hostname}}
# path.data: /path/to/data
# path.logs: /path/to/logs
bootstrap.mlockall: true
#
# Make sure that the `ES_HEAP_SIZE` environment variable is set to about half the memory
# available on the system and that the owner of the process is allowed to use this limit.
#
# Elasticsearch performs poorly when the system is swapping the memory.
# TODO: eth1 won't be write in all envs, needs to be abstracted out :/
network.host: ["_local_", "_eth1_"]
discovery.zen.ping.unicast.hosts: [
{%- for host in groups['ind'] -%}
    "{{- host -}}"
    {%- if not loop.last %}, {% endif -%}
{% endfor %}
]
# discovery.zen.minimum_master_nodes: 3
# gateway.recover_after_nodes: 3
